<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author Detail</title>
</head>
<body>

{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author }}</h1>

  <p><strong>Name:</strong> {{ author.name }}</p>
  <p><strong>Age:</strong> {{ author.age }}</p>
  <p><strong>Total written:</strong> {{ written_total }} books</p>
  <p><strong>Average Rating of all written books:</strong> {{ author_avg_rating }} (from 10)</p>

<div style="margin-left:20px;margin-top:20px">
<h4>Books</h4>
<dl>

{% for book in author_books %}
  <dt><a href="{% url 'aggregation:book-detail' book.pk %}">{{book}}</a>
    (ID: {{ book.id }}. Price: {{ book.price }}$. Published: {{ book.pubdate }}. Rating: {{ book.rating }})

{% endfor %}
</dl>

</div>

{% endblock %}

</body>
</html>
