<!DOCTYPE html>
<html lang="en">
<head>

  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- Добавление дополнительного статического CSS файла -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
      <ul class="sidebar-nav">
          <li><h3><a href="/"> Base Project Page</a></h3></li>
          <li><h4><a href="{% url 'aggregation:index' %}"> Aggregation App Page </a></h4></li>
          <hr>
          <li><h3><a href="{% url 'aggregation:author-list' %}">All Authors</a></h3></li>
          <li><h3><a href="">All Publishers</a></h3></li>
          <li><h3><a href="">All Books</a></h3></li>
          <li><h3><a href="">All Stories</a></h3></li>

      </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">
      {% block content %}{% endblock %}
      </div>
    </div>

  </div>
</body>
</html>





















{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#  {% block title %}<title>Aggregation Application</title>{% endblock %}#}
{#</head>#}
{#<body>#}
{#  {% block sidebar %}#}
{#      <h4><a href="/"> <-- Base Project Page</a></h4>#}
{#      <h4><a href="{% url 'aggregation:index' %}"> <-- Aggregation App Page</a>#}
{#<hr>#}
{#  {% endblock %}#}
{##}
{#  {% block content %}<!-- default content text (typically empty) -->{% endblock %}#}
{##}
{#</body>#}
{#</html>#}

{##}
{##}
{##}
{#<html>#}
{#    <head>#}
{#        <title>Aggregation Application</title>#}
{#    </head>#}
{#    <body>#}
{#    {% block sidebar %}#}
{#    <h4><a href="/"> <-- Base Project Page</a></h4>#}
{#    <h4><a href="{% url 'aggregation:index' %}"> <-- Aggregation App Page</a>#}
{#    {% endblock %}#}
{#    <hr>#}
{#    <header class="page-header">#}
{#      <div class="container">#}
{#      </div>#}
{#    </header>#}
{#    <main class="container">#}
{#        <div class="row">#}
{#            <div class="col">#}
{#            {% block content %}#}
{#            {% endblock %}#}
{#            </div>#}
{#        </div>#}
{#    </main>#}
{#</body>#}
{#</html>#}
