<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
</head>
<body>

{% extends "base_generic.html" %}

{% block content %}
  <h1>Book List</h1>
  {% if books %}
  <ul>
    {% for book in books %}
      <li>
      <a href="{{ book.get_absolute_url }}">{{ book.name }}</a> (ID: {{ book.id }}, Publisher: {{ book.publisher }})
        <button type="button">
        <a href="{%  url 'aggregation:book-update' pk=book.pk %}">UPDATE</a>
        </button>
        <button type="button">
        <a href="{%  url 'aggregation:book-confirm-delete' pk=book.pk %}">DELETE</a>
        </button>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no Books.</p>
  {% endif %}

{% endblock %}

</body>
</html>